@import url("https://fonts.googleapis.com/css?family=Cairo:300,400|Pacifico&display=swap");

body {
  background: #f5f6fa;
  font-family: "Cairo", sans-serif;
  color: #353b48;
}

.App {
  margin: 20px auto;
  max-width: 1300px;
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 2px 3px 5px rgba(200, 200, 200, 0.4);
}

.App-link {
  color: #09d3ac;
}
